<h2>All photos</h2>
<% @photos.each do |photo| %>
    <div class="photo-container">
        <div class="title-image">
            <h3><%= photo.title %></h3>
        </div>
        <div class="container-image">
            <% if !photo.image.url.nil? %>
                <%= image_tag photo.image.url %>
            <% end %>
        </div>
        <div class="description-image">
            <p><%= photo.description %></p>
        </div>
        <div class="votes-image">
            <div><%= photo.votes %></div>
        <div>
    </div>
<% end%>


<%= link_to "Create new", upload_path %>

