
<ul class="flex border-b">
  <li class="-mb-px mr-1">
    <span class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-black font-semibold" href="#">Sort By:</span>
  </li>
  <li class="mr-1">
    <%= link_to "Most Liked", {sort: :likes}, class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" %>
  </li>
  <li class="mr-1">
    <%= link_to "Recents", {sort: :recents}, class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" %>
  </li>
</ul>
<div id="photos-container" class="flex flex-wrap items-center">
    <% get_voting_hash %>
    <% @photos.each do |photo| %>
    <div id="post-<%= photo.id %>"class="w-full lg:w-1/2 px-8 photo-container roundedshadow-lg">
        <div class="title-image px-6 py-4">
            <h3 class="font-bold text-xl mb-2 capitalize"><%= photo.title %></h3>
        </div>
        <div class="container-image">
            <% if !photo.image.url.nil? %>
            <%= image_tag photo.image.url, class: "w-full" %>
            <% end %>
        </div>
        <div class="description-image px-6 py-4">
            <p class="text-gray-700 text-base"><%= photo.description %></p>
        </div>
        <div class="votes-image px-6 py-4">
            <div class="flex">
                <div class="mx-2 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Votes: <span class="text-black text-lg photos-votes"><%= photo.votes %></span></div>
                <% if !@votes_hash.has_key?("#{photo.id}")  %>
                  <div class="like-action mx-2">
                    <%= link_to votes_path(id: photo.id, vote: :like), method: :patch, remote: true do %>
                      <i class="far fa-thumbs-up hover:text-blue-700"></i>
                    <% end %>
                  </div>
                  <div class="dislike-action mx-2">
                    <%= link_to votes_path(id: photo.id, vote: :dislike), method: :patch, remote: true do %>
                      <i class="far fa-thumbs-down hover:text-red-700"></i>
                    <% end %>
                  </div>
                <% else %>
                  <%= content_tag :div, class: "mx-2 like-action"  do %>
                    <i class="fas fa-thumbs-up hover:text-blue-700 "></i>
                  <% end %>
                  <%= content_tag :div, class: "mx-2 dislike-action" do %>
                    <i class="fas fa-thumbs-down hover:text-red-700 "></i>
                  <% end %>
                  <span class="mx-2 bg-gray-200 rounded-sm px-3 py-1 text-sm text-green-700">Voted</span>
                <% end %>
            </div>
        </div>
    </div>
    <% end%>
</div>