<!DOCTYPE html>
<html>

<head>
    <title>MyCatPhotos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="flex items-center justify-between flex-wrap bg-indigo-500 p-6">
        <div class="flex-shrink-0 text-white mr-6">
            <a href="<%= root_path %>" class="font-semibold text-xl tracking-tight">My Cat Photos</a>
        </div>
        <div>
            <a href="<%= upload_path %>" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-indigo-500 hover:bg-white mt-4 lg:mt-0">Upload Your Photo</a>
        </div>
    </nav>
    <div class="container mx-auto">
        <%= yield %>
    </div>
</body>

</html>